/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

.arguments_bloc {
  padding: 3em 1.5em;
  margin-bottom: 2em;
}

#arguments {
  color: #D23333;
}

.arguments_bloc h4 {
  line-height: 1.4em;
}
