<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Your request has been sent</h1>
      <p>You'll receive an anwser soon</p>
      <p>Don't hesitate to contact us in cas you need.</p>
    </div>
  </div>
</div>

