<div class="footer">
  <div class="row">
    <div class="col-sm-6">
      <ul class="list-inline">
        <li><h5>About</h5></li>
        <li><h5>Terms of Use</h5></li>
        <li><h5><a href="mailto:contact@burolao.com">Contact</a></h5></li>
        <li><h5>© Burolao, Inc.</span></h5></li>
      </ul>

    </div>
    <div class="col-sm-6">
      <ul class="list-inline">
        <li><h5>Follow us on</h></li>
        <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
<!--         <li><i class="fa fa-twitter"></i></li> -->
      </ul>
    </div>
    <div class="col-sm-12">

    </div>
  </div>
</div>
