<!-- <div class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <p>© Burolao - 2015</p>
      </div>
      <div class="col-sm-4">
        <p>The team</p>
      </div>
      <div class="col-sm-4">
        <p>Our cities</p>
      </div>
    </div>
  </div>
</div>

 -->


<!-- <div class="footer">
  <div class="row">
    <div class="col-sm-6">
      <ul class="list-inline">
        <li><h5>About</h5></li>
        <li><h5>Terms of Use</h5></li>
        <li><h5><a href="mailto:contact@burolao.com">Contact</a></h5></li>
        <li><h5>© Burolao, Inc.</span></h5></li>
      </ul>

    </div>
    <div class="col-sm-6">
      <ul class="list-inline">
        <li><h5>Follow us on</h></li>
        <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>


 <footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class='list-inline text-center' id="social">
          <li><a href="https://www.facebook.com/lvly.hood" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/LvlyHood" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://instagram.com/lvlyhood/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <p class='text-center copy montserrat'>Lovely Hood</p>
        <p class="text-center">
          <a href="/terms">
            Conditions générales
</a>          <p>
        <p class="text-center">
          <a href="/legal">
            Mentions légales
</a>        <p>
      </div>
    </div>
  </div>
</footer>
