<div class="footer">
  <div class="row">
    <div class="col-sm-6">
      <ul class="list-inline">
        <li><h4>About</h4></li>
        <li><h4>Terms of Use</h4></li>
        <li><h4>Contact</h4></li>
        <li><h4>© Burolao, Inc.</span></h4></li>
      </ul>

    </div>
    <div class="col-sm-6">
      <ul class="list-inline">
        <li><h4>Rejoignez-nous sur</h4></li>
        <li><i class="fa fa-facebook-official"></i></li>
        <li><i class="fa fa-linkedin"></i></li>
        <li><i class="fa fa-twitter"></i></li>
      </ul>
    </div>
    <div class="col-sm-12">

    </div>
  </div>
</div>
