<%= render 'layouts/banner' %>

<div class="container">
  <div class="row arguments_bloc">
    <div class="col-sm-4">
      <div class="h-caption"><h3 id="arguments"><i class="fa fa-cogs fa-5 text-center"></i> Work better</h3></div><br>
      <div class="h-body text-justify">
        <h4>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet voluptatem blanditiis deleniti alias at veritatis cupiditate odio non perspiciatis. Quam nobis quae, quidem iure ducimus.
        </h4>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="h-caption"><h3 id="arguments"><i class="fa fa-flash fa-5 text-center"></i> Dead Simple</h3></div><br>
      <div class="h-body text-justify">
        <h4>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet voluptatem blanditiis deleniti alias at veritatis cupiditate odio non perspiciatis. Quam nobis quae, quidem iure ducimus.
        </h4>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="h-caption"><h3 id="arguments"><i class="fa fa-cogs fa-5"></i> Meet entrepreneurship</h3></div><br>
      <div class="h-body text-justify">
        <h4>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet voluptatem blanditiis deleniti alias at veritatis cupiditate odio non perspiciatis. Quam nobis quae, quidem iure ducimus.
        </h4>
      </div>
    </div>
  </div>

  <div class="row">
    <% @livingrooms.shuffle.last(24).each do |livingroom| %>
      <div class="col-xs-12 col-sm-4">
        <%= render 'layouts/card', livingroom: livingroom %>
      </div>
    <% end %>
  </div>
</div>
