// Your footer style

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #D23333;
  height: 70px;
  color: white;
  padding: 1em;
}


.fa {
  color: white;
}

.list-inline a {
  color: white
}
