// Your footer style

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #D23333;
  height: 75px;
  color: white;
  padding: 1em;
}


.fa {
  color: white;
}

.list-inline a {
  color: white
}
