// Place all the styles related to the livingrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.livingroom-pictures {
  position: relative;
  background-size: cover;
  width:100%;
  padding-top: 460px;
  &-labels {
    background-color: rgba(40, 40, 40, 0.6);
    position:absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: white;
    display: flex;
    &-title {
      flex: 0 1 auto;
    }
    &-price {
      flex: 0 1 auto;
      & span {
        background-color: $corail;
        padding: 10px;
        position: absolute;
        bottom: -10px;
        left: 10%;
      }
    }
  }
}

.livingroom-card {
  padding-top: 20px;
  &-text {
    color: white;
    // padding-top: 10px;
    & span {
      background-color: $corail;
      padding-left: 2px;
      padding-right: 2px;
      font-size: 15px;
    }
    & h3 {
      padding-top: 0px !important;
    }
  }
}

.livingroom-layer {
  padding-top: 10px;
}

.livingroom-booking-attributes {
  color: white;
  background-color: $corail;
  font-size: 16px;
  font-weight: bold;
  &-button {
    & a{
      background-color: white;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 30px;
      padding-right: 30px;
      border: 1px solid darken($corail, 10%);
      border-radius: 3px;
      color: $corail;
      margin-left: auto;
      margin-right: auto;
      &:hover {
        color: darken($corail, 10%);
        text-decoration: none;
      }
    }
  }
}

.catchphrase {
  &-text {
    color: $corail !important;
  }
  padding-left:50px;
}

.liststyle {
  margin: 11px;
}


.border {
  margin: 20px;
  border: solid 1px #D4D4D4;
  margin-bottom: 20px;
  padding: 15px;
}


