<div class="text-center livingroom-pictures" style='background-image:url(<%= @livingroom.pictures.first.picture.url %>)'>
  <div class="container">
    <div class="row livingroom-pictures-labels">
      <div class="col-xs-6 col-xs-offset-3 livingroom-pictures-labels-title text-center">
        <h1><%= @livingroom.title %></h1>
      </div>
    </div>
  </div>

<!--        <%# @livingroom.pictures.each do |picture| %>

          <%# image_tag picture.picture.url(:large) %>
        <%# end %> -->

</div>

