<div class="text-center livingroom-pictures" style='background-image:url(<%= @livingroom.pictures.first.picture.url %>)'>
  <div class="container">
    <div class="row livingroom-pictures-labels">
      <div class="col-xs-6 col-xs-offset-2 livingroom-pictures-labels-title">
        <h1><%= @livingroom.title %></h1>
      </div>
      <div class="col-xs-3 livingroom-pictures-labels-price">
        <span><%= @livingroom.price %>€ / day</span>
      </div>
    </div>
  </div>

<!--        <%# @livingroom.pictures.each do |picture| %>

          <%# image_tag picture.picture.url(:large) %>
        <%# end %> -->

</div>

