<div class="banner text-center" style="background-image: url('http://www.add-impact.com/wp-content/uploads/2015/05/Wed_13.jpg')">
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1>Find the right place to work</h1>
    <p>A workplace in someone's living room</p>
    <%= render 'layouts/search' %>
  </div>
</div>
