<div class="card">
  <span class="card-bg" style="background-image:url('https://unsplash.com/photos/HYxR4XN8ZFE')"></span>
  <span class="card-gradient"></span>
  <span class="card-category"><%= livingroom.city %></span>
  <span class="card-text">
    <h2><%= livingroom.title %></h2>
    <p><%= livingroom.price %>€</p>
    <p>
      <% livingroom.capacity.times do |n| %>
        <i class="fa fa-user"></i>
      <% end %>
    </p>
  </span>
  <span class="card-user">
      <img src="https://static.pexels.com/photos/7768/man-summer-outside-plant.jpg" class="avatar avatar-bordered"/>

  </span>
  <%= link_to "", livingroom_path(livingroom), class: "card-link" %>
</div>
