<div class="card">
  <span class="card-bg" style="background-image:url('<%# image_path livingroom %>')"></span>
  <span class="card-gradient"></span>
  <span class="card-category"><%= livingroom.city %></span>
  <span class="card-text">
    <h2><%= livingroom.title %></h2>
    <p><%= livingroom.price %>€</p>
    <p>
      <% livingroom.capacity.times do |n| %>
        <i class="fa fa-user"></i>
      <% end %>
    </p>
  </span>
  <span class="card-user">
      <img src="http://placehold.it/100x100" class="avatar avatar-bordered"/>
  </span>
  <a href="#" class="card-link"></a>
</div>

