<div class="form-inline text-center">
  <form action="/livingrooms" method="get" class="search">
    <input type="text" class="search-input" name="city" placeholder="Where do you want to work ?">
    <select class="form-control" name="capacity" placeholder=" How many desks ?">
      <option value="1">1 worker</option>
      <option value="2">2 workers</option>
      <option value="3">3 workers</option>
      <option value="4">4 workers</option>
      <option value="5">5 workers</option>
      <option value="6">6 workers</option>
      <option value="6">7 workers</option>
      <option value="4">8 workers</option>
      <option value="5">9 workers</option>
      <option value="6">10+ workers</option>
    </select>
    <button type="submit" class="btn btn-primary">Search</button>
    </button>
  </form>
</div>
